<DOCTYPE !html>
  <html>
  <head>
    <title>No F. Luck</title>
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="css/styles.css">
    <script src="libs/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="js/dataAnalysis.js" type="text/javascript"></script>
  </head>

  <body>
    <div class="jumbotron">
      <div class="container">
        <div class="col-md-12 col-xs-12">
          <h1>No F. Luck</h1>
        </div>

        <div class="col-md-4 col-xs-6">
          <div class="col-md-12 col-xs-12">
            <h3>Analysis</h3>
          </div>
          <div class="col-md-6 col-xs-6">
            <button class="btn btn-primary" id="makeAnalysis">Update Analysis File</button>
          </div>
          <div class="col-md-6 col-xs-6">
            <button class="btn btn-success" id="showAnalysis">Show Analysis</button>
          </div>
        </div>
      </div>
    </div>
    <div id="analysis">
      <h3>Effectiveness</h3>
      <div id="effective"></div>
      <h3>Picked and Won</h3>
      <div id="pickWin"></div>
      <h3>Picked and Lost</h3>
      <div id="pickLoss"></div>
      <h3>Picked against and won</h3>
      <div id="pickedAgainstAndWon"></div>
      <h3>Picked against and lost</h3>
      <div id="pickedAgainstAndLost"></div>
    </div>
  </body>
  </html>